In [3]:
import pandas as pd
import numpy as np
from pandas_summary import DataFrameSummary
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [4]:
# pip install pyarrow

In [5]:
df_train = pd.read_feather('all_preprocessed_train.fth')
df_test = pd.read_feather('all_preprocessed_test.fth')

In [6]:
df_train.shape, df_test.shape

((1017209, 82), (41088, 81))

In [7]:
# Verificación de que se hicieron bien las cosas en testa también
set(df_train.columns) - set(df_test.columns)

{'Customers', 'Sales'}

In [8]:
(df_train['CompetitionDistance'].isna()).sum()

np.int64(0)

## Categorical vars

In [9]:
cat_vars = ['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday', 
            'CompetitionMonthsOpen', 'Promo2Weeks', 
            'StoreType', 'Assortment', 'PromoInterval', 
            'CompetitionOpenSinceYear', 'Promo2SinceYear', 
            'State', 'Week', 'Events', 'Promo_fw', 'Promo_bw', 
            'StateHoliday_bool_fw', 'StateHoliday_bool_bw', 'SchoolHoliday_fw', 
            'SchoolHoliday_bw']

In [12]:
df_train[cat_vars]

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Promo2SinceYear,State,Week,Events,Promo_fw,Promo_bw,StateHoliday_bool_fw,StateHoliday_bool_bw,SchoolHoliday_fw,SchoolHoliday_bw
0,1,5,2015,7,31,0,24,25,c,a,...,1990,HE,31,Fog,5.0,1.0,0.0,0.0,5.0,1.0
1,2,5,2015,7,31,0,24,25,a,a,...,2010,TH,31,Fog,5.0,1.0,0.0,0.0,5.0,1.0
2,3,5,2015,7,31,0,24,25,a,a,...,2011,NW,31,Fog,5.0,1.0,0.0,0.0,5.0,1.0
3,4,5,2015,7,31,0,24,25,c,c,...,1990,BE,31,Sunny,5.0,1.0,0.0,0.0,5.0,1.0
4,5,5,2015,7,31,0,3,25,a,a,...,1990,SN,31,Sunny,5.0,1.0,0.0,0.0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013,1,1,a,0,0,a,a,...,2013,NW,1,Rain,0.0,1.0,1.0,1.0,1.0,4.0
1017205,1112,2,2013,1,1,a,24,25,c,c,...,1990,NW,1,Rain,0.0,1.0,1.0,1.0,1.0,4.0
1017206,1113,2,2013,1,1,a,24,25,a,c,...,1990,SH,1,Rain,0.0,1.0,1.0,1.0,1.0,4.0
1017207,1114,2,2013,1,1,a,24,25,a,c,...,1990,HH,1,Rain,0.0,1.0,1.0,1.0,1.0,4.0
1017208,1115,2,2013,1,1,a,24,25,d,c,...,2012,HE,1,Rain,0.0,1.0,1.0,1.0,1.0,7.0

In [16]:
df_train.StateHoliday.iloc[0]

'0'

In [14]:
#DataFrameSummary(df_train[cat_vars]).summary()

In [18]:
DataFrameSummary(df_train[cat_vars].iloc[::-1]).summary().loc[['uniques', 'types', 'missing']].T

ValueError: could not convert string to float: 'a'

In [75]:
# Reemplaza nulls por "" en categoricas
# for v in cat_vars: df_train.loc[df_train[v].isnull(), v] = ""

In [76]:
# for v in cat_vars: df_test.loc[df_test[v].isnull(), v] = ""

# Continuos Vars

In [23]:
df_train.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval',
       'CompetitionOpenSince', 'Promo2Since', 'State', 'file', 'week', 'trend',
       'Date_y', 'Month_y', 'Day_y', 'file_DE', 'week_DE', 'trend_DE',
       'Date_DE', 'State_DE', 'Month_DE', 'Day_DE', 'file_y',
       'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
       'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_PressurehPa',
       'Mean_Sea_Level_PressurehPa', 'Min_Sea_Level_PressurehPa',
       'Max_VisibilityKm', 'Mean_VisibilityKm', 'Min_VisibilitykM',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'Max_Gust_SpeedKm_h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees',
       'StateName', 'Year_y', 'Week_y', 'CompetitionDaysOpen',
       'CompetitionMonthsOpen', 'Promo2Days', 'Promo2Weeks',
       'StateHoliday_bool', 'index', 'AfterSchoolHoliday',
       'BeforeSchoolHoliday', 'AfterStateHoliday_bool',
       'BeforeStateHoliday_bool', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bool_bw', 'Promo_bw',
       'SchoolHoliday_fw', 'StateHoliday_bool_fw', 'Promo_fw'],
      dtype='object')

In [24]:
contin_vars = ['CompetitionDistance', 
               'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC', 
               'Precipitationmm', 'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 
               'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 
               'trend_DE', 'AfterStateHoliday_bool', 'BeforeStateHoliday_bool', 
               'Promo', 'SchoolHoliday', 'StateHoliday_bool']

In [25]:
DataFrameSummary(df_train[contin_vars]).summary().loc[['uniques', 'types', 'missing']].T

                        uniques    types missing
CompetitionDistance         654  numeric       0
Max_TemperatureC             50  numeric       0
Mean_TemperatureC            45  numeric       0
Min_TemperatureC             40  numeric       0
Precipitationmm              40  numeric       0
Max_Humidity                 52  numeric       0
Mean_Humidity                71  numeric       0
Min_Humidity                 93  numeric       0
Max_Wind_SpeedKm_h           42  numeric       0
Mean_Wind_SpeedKm_h          27  numeric       0
CloudCover                    9  numeric       0
trend                        67  numeric       0
trend_DE                     38  numeric       0
AfterStateHoliday_bool      136  numeric       0
BeforeStateHoliday_bool     147  numeric       0
Promo                         2     bool       0
SchoolHoliday                 2     bool       0
StateHoliday_bool             2     bool       0

In [26]:
# Reemplaza nulls por 0 en continuas
# for v in contin_vars: df_train.loc[df_train[v].isnull(), v] = 0
# for v in contin_vars: df_test.loc[df_test[v].isnull(), v] = 0

# Normalización en continuas y LabelEncode en Categoricas

In [30]:
from sklearn_pandas import DataFrameMapper

In [31]:
cat_maps = [(o, LabelEncoder()) for o in cat_vars]
contin_maps = [([o], StandardScaler()) for o in contin_vars]

In [32]:
mapper_cat = DataFrameMapper(cat_maps)
_ = mapper_cat.fit(df_train)

In [33]:
# Assortment es la novena posición en cat_maps
N = 10
print(list(zip(df_train['Assortment'].values[:N], mapper_cat.transform(df_train)[:,9][:N])))
print(list(zip(df_train['Events'].values[:N], mapper_cat.transform(df_train)[:,15][:N])))
print(list(zip(df_train['Year'].values[:N], mapper_cat.transform(df_train)[:,2][:N])))

[('a', np.int64(0)), ('a', np.int64(0)), ('a', np.int64(0)), ('c', np.int64(2)), ('a', np.int64(0)), ('a', np.int64(0)), ('c', np.int64(2)), ('a', np.int64(0)), ('c', np.int64(2)), ('a', np.int64(0))]
[('Fog', np.int64(0)), ('Fog', np.int64(0)), ('Fog', np.int64(0)), ('Sunny', np.int64(20)), ('Sunny', np.int64(20)), ('Sunny', np.int64(20)), ('Rain', np.int64(10)), ('Rain', np.int64(10)), ('Fog', np.int64(0)), ('Sunny', np.int64(20))]
[(np.int32(2015), np.int64(2)), (np.int32(2015), np.int64(2)), (np.int32(2015), np.int64(2)), (np.int32(2015), np.int64(2)), (np.int32(2015), np.int64(2)), (np.int32(2015), np.int64(2)), (np.int32(2015), np.int64(2)), (np.int32(2015), np.int64(2)), (np.int32(2015), np.int64(2)), (np.int32(2015), np.int64(2))]

In [34]:
mapper_cont = DataFrameMapper(contin_maps)
_ = mapper_cont.fit(df_train)

In [35]:
N = 10
print(df_train['CompetitionDistance'].values[:N])
print(mapper_cont.transform(df_train)[:, 0][:N])

[ 1270.   570. 14130.   620. 29910.   310. 24000.  7520.  2030.  3160.]
[-0.51104292 -0.59341201  1.00219483 -0.5875285   2.85902934 -0.62400624
  2.16359893  0.22439533 -0.42161363 -0.28864639]

In [36]:
# La hacemos con todas ahora
df_train[cat_vars] = mapper_cat.transform(df_train)
df_test[cat_vars] = mapper_cat.transform(df_test)

In [37]:
df_train[contin_vars] = mapper_cont.transform(df_train)
df_test[contin_vars] = mapper_cont.transform(df_test)

In [38]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,AfterStateHoliday_bool,BeforeStateHoliday_bool,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bool_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_bool_fw,Promo_fw
0,0,4,2015-07-31,5263,555,1,1.273237,0,2.144211,2,...,0.644376,1.072424,0,0,1,0,1,5,0,5
1,1,4,2015-07-31,6064,625,1,1.273237,0,2.144211,2,...,0.965073,1.072424,0,0,1,0,1,5,0,5
2,2,4,2015-07-31,8314,821,1,1.273237,0,2.144211,2,...,0.644376,1.072424,0,0,1,0,1,5,0,5
3,3,4,2015-07-31,13995,1498,1,1.273237,0,2.144211,2,...,0.965073,1.072424,0,0,1,0,1,5,0,5
4,4,4,2015-07-31,4822,559,1,1.273237,0,2.144211,2,...,0.644376,1.072424,0,0,1,0,1,5,0,5

In [39]:
DataFrameSummary(df_train[cat_vars]).summary().loc[['uniques', 'types']]

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Promo2SinceYear,State,Week,Events,Promo_fw,Promo_bw,StateHoliday_bool_fw,StateHoliday_bool_bw,SchoolHoliday_fw,SchoolHoliday_bw
uniques,1115,7,3,12,31,4,25,26,4,3,...,8,12,52,22,6,6,3,3,8,8
types,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,...,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric

# Final processing

In [40]:
df_train.shape

(1017209, 82)

In [41]:
df_sales = df_train[df_train.Sales!=0]

In [42]:
df_sales.shape

(844338, 82)

In [43]:
df_test.reset_index(inplace=True)

In [44]:
df_sales.reset_index(inplace=True)

In [45]:
df_sales.to_feather('train_normalized_data.fth')

In [46]:
df_test.to_feather('test_normalized_data.fth')

In [47]:
(df_test['Open'] == 0).sum()

np.int64(5984)

In [48]:
(df_sales['Open'] == 0).sum()

np.int64(0)

In [49]:
(df_train['CompetitionDistance'].isna()).sum()

np.int64(0)